@import url('https://fonts.googleapis.com/css?family=Raleway');

html,body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.6;
}

/* unvisited link */
a:link {
   color: black;
	 text-decoration: none;
}

/* visited link */
a:visited {
   color: black;
	 text-decoration: none;
}

/* mouse over link */
a:hover {
   color: rgb(30, 103, 181);
	 text-decoration: none;
}
