@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

  
html, body {
	font-family: 'Roboto', 'Noto Sans';
	line-height: 1.5;
	margin: 0px;
}

/* unvisited link */
a:link {
   color: rgb(1, 33, 105);
	 text-decoration: none;
}

/* visited link */
a:visited {
   color: rgb(1, 33, 105);
	 text-decoration: none;
}

/* mouse over link */
a:hover {
   color: rgb(0, 83, 155);
	 text-decoration: none;
}

.outerhead {
	background-color: rgb(1, 33, 105);
	color: white;
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.head {
	max-width:1024px;
	background-color: rgb(1, 33, 105);
	color: white;
	padding-right: 25px;
	padding-left: 25px;
	margin:auto;
}


.head a:link {
   color: white;
	 text-decoration: none;
}

.head a:visited {
   color: white;
	 text-decoration: none;
}

.head a:hover {
   color: rgb(0, 83, 155);
	 text-decoration: none;
}

.outerlastfoot {
	background-color: rgb(0, 83, 155);
	color: white;
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}
